<style>
    input{
      margin-bottom :6px;;
    }
  </style>
  <body style="background:lightblue;height:600px">
  <div class="container">
        <h2 style="margin-left:460px;color:grey"><u>Fill Your Data</u></h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="first">First Name</label>
              <input type="text" class="form-control" placeholder="" id="first" name="first" [(ngModel)]="names2.fname">
            </div>
          </div>
          <!--  col-md-6   -->
    
          <div class="col-md-6">
            <div class="form-group">
              <label for="last">Last Name</label>
              <input type="text" class="form-control" placeholder="" id="last" name="last" [(ngModel)]="names2.lname">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
    
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control" placeholder="" id="company" name="company" [(ngModel)]="names2.company">
            </div>
    
    
          </div>
          <!--  col-md-6   -->
    
          <div class="col-md-6">
    
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" class="form-control" id="phone" placeholder="phone" name="phone" [(ngModel)]="names2.phone">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
        <!--  row   -->
    
    
        <div class="row">
          <div class="col-md-6">
    
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="email" name="email" [(ngModel)]="names2.email">
            </div>
          </div>
          <!--  col-md-6   -->
    
          <div class="col-md-6">
            <div class="form-group">
              <label for="url">Your Designation </label>
              <input type="url" class="form-control" id="desg" name="desg" [(ngModel)]="names2.desg">
            </div>
    
    
    
        <button  class="btn btn-primary" style="width:120px;margin-left:-136px" (click)="OnAdd()"><i class="bi bi-plus-lg"></i>Add</button>&nbsp;
        <button class="btn btn-success" style="width:120px" (click)="OnSort()"><i class="bi bi-sort-alpha-down"></i>Sort</button>&nbsp;
    </div>
    
    
    
    
    
    <div class="container" >
      <div class="row">
        <div class="col-12"><br>
              <label for="filter">Filter </label>&nbsp;
              <input type="text"  placeholder="Search By Name" [(ngModel)]="filterText">  
          <br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name </th>
                <th scope="col">Company</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Designation</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for(name of names|usePipe:filterText;track $index){
                <tr>
                  <td>{{name.fname}}</td>
                  <td>{{name.lname}}</td>
                  <td>{{name.company}}</td>
                  <td>{{name.phone}}</td>
                  <td>{{name.email}}</td>
                  <td>{{name.desg}}</td>
                  <td><button class="btn btn-danger" (click)="OnRemove($index)"><i class="bi bi-trash3-fill"></i></button></td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>