<style>
    input{
      margin-bottom :6px;;
    }
  </style>
  <body style="background:lightblue;height:600px">
  <div class="container">
        <h2 style="margin-left:460px;color:grey"><u>New Joinning</u></h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="first">First Name</label>
              <input type="text" class="form-control" placeholder="" id="first" name="first" [(ngModel)]="names2.fname">
            </div>
          </div>
          <!--  col-md-6   -->
    
          <div class="col-md-6">
            <div class="form-group">
              <label for="last">Last Name</label>
              <input type="text" class="form-control" placeholder="" id="last" name="last" [(ngModel)]="names2.lname">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
    
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control" placeholder="" id="company" name="company" [(ngModel)]="names2.company">
            </div>
            </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Employee Id</label>
              <input type="email" class="form-control" id="id"  name="id" [(ngModel)]="names2.id">
            </div>
            </div>
            </div>
        <br><button  class="btn btn-primary" style="width:120px;margin-left:435px" (click)="OnAdd()"><i class="bi bi-plus-lg"></i>Add</button>&nbsp;
        <button class="btn btn-success" style="width:120px" (click)="OnSort()"><i class="bi bi-sort-alpha-down"></i>Sort</button>
    </div>
    
    
    
    
    
    <div class="container" >
      <div class="row">
        <div class="col-12" id="ok"><br>
            <br>
              <label for="filter"><span style="font-size:20px">Filter</span> </label>&nbsp;
              <input type="text"  placeholder="Search By Name" [(ngModel)]="filterText"><br>
            <ul>
            @for(name of names|usePipe:filterText;track $index){
                <li >Hello '{{name.fname}} {{name.lname}}' Welcome to '{{name.company}}'. Your Employee ID is '{{+name.id}}' <button style="margin-left:200px;height:30px" class='btn btn-danger' (click)='OnRemove($index)'><i class='bi bi-trash3-fill'></i></button></li><br>
            }
            </ul>
        </div>
      </div>
    </div>
    
  </body>